<h2>Filter and Hide Columns</h2>

<h3>
  Checkbox and Select filter types
</h3>
<p>An example on how to use the built-in column filter types:</p>
<div class="with-source">
  <a
    class="source"
    href="https://github.com/dj-fiorex/angular2-smart-table/blob/master/projects/demo/src/app/pages/examples/filter/advanced-example-filters.component.ts"
    target="_blank"
    >Demo Source</a
  >
  <advanced-example-filters></advanced-example-filters>
</div>

<h3>
  Using a filterFunction
</h3>
<p>
  An example on how to use a built-in column filter but define your own
  filterFunction. In this example you can filter the "Company" column using some
  advanced features. Such as being able to search with a regular expression or starting your search with minus sign
  (try search for "-acme") to exclude any rows that match what you type.
</p>
<div class="with-source">
  <a
    class="source"
    href="https://github.com/dj-fiorex/angular2-smart-table/blob/master/projects/demo/src/app/pages/examples/filter/advanced-example-filter-function.component.ts"
    target="_blank"
    >Demo Source</a
  >
  <advanced-example-filter-function></advanced-example-filter-function>
</div>

<h3>
  Hide columns
</h3>
<p>An example on how to use the built-in hide column:</p>
<div class="with-source">
  <a
    class="source"
    href="https://github.com/dj-fiorex/angular2-smart-table/blob/master/projects/demo/src/app/pages/examples/filter/column-hide-example.component.ts"
    target="_blank"
    >Demo Source</a
  >
  <column-hide-example></column-hide-example>
</div>
