<h2>Get data from external source example</h2>
<h3>Loading From Server Example</h3>
<p>
  This example shows how to pass the data loaded from some API to a <span class="highlight">LocalDataSource</span>.
</p>
<div class="with-source">
  <a class="source" href="https://github.com/dj-fiorex/angular2-smart-table/blob/master/projects/demo/src/app/pages/examples/server/basic-example-load.component.ts" target="_blank">Demo Source</a>
  <basic-example-load></basic-example-load>
</div>

<h3>Server Data Source Example</h3>
<p>
  An example on how to load data using the <span class="highlight">ServerDataSource</span>:
</p>
<div class="with-source">
  <a class="source" href="https://github.com/dj-fiorex/angular2-smart-table/blob/master/projects/demo/src/app/pages/examples/server/advanced-example-server.component.ts" target="_blank">Demo Source</a>
<advanced-example-server></advanced-example-server>
</div>
